:root {
  --primary-color: #1f2f61;
  --secondary-color: #224ca4;
  --light-color: #a7c2da;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--light-color);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 10px 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
}

.game-container {
  position: relative;
  width: 450px;
  height: 350px;
}

.figure-container {
  fill: transparent;
  stroke: var(--light-color);
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 22px;
  margin-left: 4px;
}


.word {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.letter {
  width: 28px;
  height: 50px;

  border-bottom: 3px solid var(--secondary-color);
  font-size: 32px;

  margin: 0 6px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.popup-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: var(--secondary-color);
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
}

.popup button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--light-color);
  color: var(--secondary-color);
  font-family: inherit;
}

.notification-container {
  position: absolute;
  bottom: -60px;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translateY(-60px);
}
